<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es-AR">
    <head data-th-replace="~{/layouts/header::head}"></head>
<body>
    <div class="container">
        <header data-th-replace="~{/layouts/header::header}"></header>
        <div class="container mt-5">
            <h1>Inscribir Alumno en Materia</h1>
            <form th:action="@{/alumno/inscripcion/guardar}" method="post">
                <div class="mb-3">
                    <label for="alumno" class="form-label">Seleccionar Alumno</label>
                    <select id="alumno" name="idAlumno" class="form-select" required>
                        <option th:each="alumno : ${alumnos}" th:value="${alumno.id}" th:text="${alumno.nombre} + ' ' + ${alumno.apellido}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="materia" class="form-label">Seleccionar Materia</label>
                    <select id="materia" name="idMateria" class="form-select" required>
                        <option th:each="materia : ${materias}" th:value="${materia.idMateria}" th:text="${materia.nombre}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Inscribir</button>
            </form>
        </div>
        <footer data-th-replace="~{/layouts/footer::footer}"></footer>
    </div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>